.main {
    display: flex;
    flex-wrap: wrap;
}
.row {
    background-color: blue;
    color:white;
    width: 22%;
    padding: 5px;
    margin: 4px;
    
}
.row:hover{
    transform:scale(1.01) ;
}

.line {
    color: red;
}
