* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
header {
    background-color: grey;
    text-align: center;
    padding: 25px;
}
.navbar {
    background-color: black;
    height: 50px;
}
aside {
    width: 30%;
    float: left;
    padding: 10%;
    

}
section {
    width: 35%;
    float: left;
    padding: 10%;


}article {
    width: 35%;
    float: left;
    padding: 10%;
}