* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
header {
    text-transform: uppercase;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
article {
    min-width: 30%;
    background-color: gray;
    float: left;
    
}
aside {
    min-width: 20%;
    background-color: gray;
    float: left;
    margin-left: 15%;
    padding: auto;

}
footer {
    clear: both;
    position: absolute;
    bottom: 0px;
    background-color: black;
    color: whitesmoke;
    width: 100%;

}